html {
 height: 100%;
 width: 100%;
 background-color: #0D6473;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-origin: content-box;
 overflow-y: scroll;
 -ms-overflow-style: none;  /* IE and Edge */
 scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Chrome and the rest */
}

@media screen and (max-width: 499px) {
 #bandbg {h1{font-size:24px;}background-image:url(images/bgs/aboutbg.webp);min-height:25vh;background-size:cover;background-position:center top;}
}

@media screen and (min-width: 500px) {
 #bandbg {background-image:url(images/bgs/aboutbg.webp);min-height:35vh;background-size:cover;background-position:center top;}
}

@media screen and (min-width: 701px) {
 .aboutgall {columns:30vw 1;}
 #bandbg {h1{font-size:28px;}}
}

@media screen and (min-width: 800px) {
 #bandbg {background-image:url(images/bgs/aboutbg.webp);min-height:40vh;background-size:cover;background-position:center top;}
}

@media screen and (min-width: 1001px) {
 .aboutgall {columns:15vw 5;}
 #bandbg {h1{font-size:48px;}background-image:url(images/bgs/aboutbg.webp);min-height:40vh;background-size:cover;background-position:center top;}
}

@media screen and (min-width: 1476px) {
 .aboutgall {columns:15vw 5;}
 #bandbg {h1{font-size:128px;}background-image:url(images/bgs/aboutbg.webp);min-height:97vh;background-size:fit;}
}

#photos {background-color:#0D6473;}
#posters {background-color: #0B363E;}
#videos {background-color: #080808;}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: Verdana, sans-serif;
}

.header {
 justify-content: center;
 text-align: center;
 padding: 2rem 5%;
 margin: 1rem;
 margin-bottom: 0;
}

.header h1 {
 font-size: 50px;
}

.container {
 padding: 2rem 5%;
}

.container .image-container {
 columns: 15rem 3;
 gap: 1rem;
}

.container .image-container img {
 width: 100%;
 height: auto;
 margin-bottom: 1rem;
}

.container .poster-container {
 columns: 25rem 3;
 justify-content: start;
 gap: 1rem;
}

.container .poster-container img {
 width: 100%;
 height: auto;
 margin-bottom: 1rem;
}

.container .video-container {
 columns: 20rem 2;
 justify-content: start;
 gap: 1rem;
}

.container .video-container iframe {
 display: block;
 height: auto;
 width: 100%;
 margin-bottom: 1rem;
 aspect-ratio: 16/9;
}

.aboutgall img {
 width: 100%;
 height: auto;
}

.aboutgall picture {
 margin-bottom: 1rem;
 display: block;
}
