html {
 height: 100%;
 width: 100%;
 background-color: #0D6473;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-origin: content-box;
 overflow-y: scroll;
 -ms-overflow-style: none;  /* IE and Edge */
 scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Chrome and the rest */
}

#ep {background-color:#0D6473;}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: Verdana, sans-serif;
}

.header {
 justify-content: center;
 text-align: center;
 padding: 2rem 5%;
 margin: 1rem;
 margin-bottom: 0;
}

.header h1 {
 font-size: 50px;
}

.container {
 padding: 2rem 5%;
}

.container .release-container picture {
 margin-bottom: 1rem;
 border-radius:1rem;
}

.container .video-container {
 columns: 33rem 3;
 justify-content: start;
 gap: 1.4rem;
}

.container .video-container iframe {
 display: block;
 height: auto;
 width: 100%;
 margin-bottom: 1rem;
 aspect-ratio: 16/9;
}
